<% title "Topics" %>
<div class="row">
	<div class="five columns">
		<h3><%= @topic.label %></h3>
	</div>
	<div class="one column">
    <%= link_to "Edit", edit_admin_topic_path(authority, @topic), :class => "nice medium radius blue button" %>
	</div>
	<div class="three columns">
    <%= link_to "List Topics", admin_topics_path(authority), :class => "nice medium radius blue button" %>
	</div>
</div>
<div class="row">
	<div class="five columns">
		<ul>
			<hr/>
			<li>Records: <strong><%= @topic.record_count %></strong></li>
			<hr/>
			<li>Last update: <strong><%= "Jan 1, 2012" %></strong></li>
			<hr/>
			<li>Comment: <strong><%= @topic.comment %></strong></li>
		</ul>
	</div>
</div>
<div class="row">
	<% @topic.properties.each do |prop| %>
	<% end %>
</div>
