<%= f.fields_for :name, name do |n| %>
	<div class="row">
		<div class="two columns">
			<%= n.label :prefix %> <%= n.text_field :prefix, :class=>"input-text small" %>
		</div>
		<div class="four columns">
			<%= n.label :first_name %> <%= n.text_field :first_name, :class=>"input-text medium" %>
		</div>
		<div class="four columns">
			<%= n.label :last_name %> <%= n.text_field :last_name, :class=>"input-text" %>
		</div>
		<div class="two columns">
			<%= n.label :suffix %> <%= n.text_field :suffix, :class=>"input-text small" %>
		</div>
	</div>
<% end %>
