<%= render :partial => 'header' %>
<div class="row">
	<div class="four columns">
		<h2>Contact Details</h2>
	</div>
	<div class="one column">
    <%= link_to "Edit", edit_admin_contact_path(authority, @contact), :class => "nice medium radius blue button" %>
	</div>
	<div class="three columns">
    <%= link_to "All Contacts", admin_contacts_path, :class => "nice medium radius blue button" %>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<ul class="vcard">
			<li class="fn"><%= @contact.formatted_name %></li>
			<% if @contact.organization.name %>
				<li class="org"><%= "Organization: #{@contact.organization.name}" %></li>
			<% end %>
			<% @contact.telephones.each do |t| %>
				<li class="tel"><%= "#{t.type}: " %> <%= link_to "#{t.value}", "tel:#{t.value}" %></li>
			<% end %>
			<% @contact.emails.each do |e| %>
				<li class="email"><%= "#{e.type}: " %> <%= link_to "#{e.value}", "mailto:#{e.value}" %></li>
			<% end %>
	    <% @contact.addresses.each do |a| %>
				<li class="adr"><%= "#{a.type}: " %>
					<ul>
						<li><%= a.address_1 %></li>
						<li><%= a.address_2 %></li>
						<li><%= "#{a.city}, #{a.state}" %></li>
						<li><%= "#{a.zipcode}" %></li>
					</ul>
				</li>
	    <% end %>
		</ul>
	</div>
</div>