<div class="container" id="omBar">
  <div class="row">
    <div class="four columns">
      <h1><%= link_to "Civic OpenMedia: #{current_site.label}", admin_home_index_path %></h1>
    </div>
    <div class="eight columns hide-on-phones">
			<strong class="right">
					<%= link_to 'Home', admin_home_index_path %>
					<%= link_to 'Topics', admin_topics_path(authority), :title => "" %>
					<%= link_to 'Maps', admin_maps_path(authority), :title => "" %>
					<%= link_to 'Dashboards', admin_dashboards_path(authority), :title => "" %>
					<%= link_to 'Contacts', admin_contacts_path(authority), :title => "" %>
					<%= link_to 'Settings', admin_settings_path(authority), :title => "" %>
					<%= link_to 'Community', community_home_index_path %>
			</strong>
    </div>
  </div>
</div>
