%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content =>"width=device-width,initial-scale=1"}
%meta{:name => "description", :content => "Publishing system for government open data"}
%meta{:name => "author", :content => "iPublic.org"}

= javascript_include_tag :defaults
= stylesheet_link_tag "application", :media => "all"
= stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif", :media => "all"

/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

= csrf_meta_tag
