<!DOCTYPE html>
<html>
	<head>
	  <%= render :partial => 'layouts/resources' %>
	  <title>Civic OpenMedia Public</title>
	</head>
	<body>
		<div id="container" class="container_12">
		  <header role="banner">
		    <h1 class="grid_4 push_4">Civic OpenMedia Public</h1>
		    <div class="grid_4 pull_4">
		      <p>
						This is the left side block on top of the page
		      </p>
		    </div>
		    <div class="grid_4">
		      <p>
		        This is the right side block on top of the page
		      </p>	      
		    </div>
		  </header>
		  <div id="main" role="main">
			  <section class="grid_12">
				<%= yield %>
				</section>
			</div>
			<footer role="contentinfo">
				<div class="container_12">
					<small class="grid_4">
	          Civic OpenMedia created by <%= link_to "iPublic.org", "http://www.ipublic.org/" %>
					</small>
	        <small class="grid_4 align_center">
						some text in the center
					</small>
	        <small class="grid_4 align_right">
	          Licensed under <%= link_to "GPL", "http://www.gnu.org/licenses/gpl.html" %>
	          and
						<%= link_to "MIT", "http://www.opensource.org/licenses/mit-license.php" %>
					</small>
				</div>
			</footer>
		</div><!-- id=container -->
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery.formalize" %>
	</body>
</html>
