<!DOCTYPE html>
<html>
	<head>
	  <%= render :partial => 'layouts/resources' %>
		<title><%= content_for?(:title) ? "Civic OpenMedia Online: " + h(yield(:title)) : "Civic OpenMedia Online" %></title>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>
		<%= javascript_include_tag "jquery.formalize" %>
	</head>
	<body>
		<div id="omBar" class="container">
	    <div class="row">
	      <div class="four columns">
	        <h1><%= link_to "Civic OpenMedia: #{current_site.label}", admin_home_index_path %></h1>
	      </div>
	      <div class="eight columns hide-on-phones">
					<strong class="right">
							<%= link_to 'Home', admin_home_index_path %>
							<%= link_to 'Data Sources', admin_data_sources_path, :title => "" %>
							<%= link_to 'Collections', admin_data_sources_path, :title => "" %>
							<%= link_to 'Maps', admin_maps_path, :title => "" %>
							<%= link_to 'Dashboards', admin_dashboards_path, :title => "" %>
							<%= link_to 'Site', admin_site_path(authority), :title => "" %>
							<%= link_to 'Contacts', admin_contacts_path(authority), :title => "" %>
							<%= link_to 'Community', community_home_index_path %>
					</strong>
	      </div>
	    </div>
	  </div>
	  
		<div class="container header">
			<div class="row">
				<div class="twelve columns">
					<div class="branding">
						<% if content_for?(:header) %>
							<%= yield(:header) %>
						<% else %>
							<h1><%= "#{current_site.label} Admin" %></h1>
							<h4 class="subheader"><%= current_site.tag_line %></h4>
						<% end %>
					</div>
				</div>
			</div>
			
		<div class="container content">
				<div class="row">
					<div class="twelve columns">
						<% flash.each do |name, msg| %>
							<!-- alert-box classes: success, warning, error or blank -->
							<%= content_tag :div, msg, :class => "alert-box #{name}" %>
							<p class="notice"><%= notice %></p>
							<p class="alert"><%= alert %></p>
						<% end %>
					</div>
			</div>
			<%= yield %>
		</div>
			
		<footer class="row">
			<div class="four columns">
         <h6><strong>Created by iPublic.org</strong></h6>
				 <p>Civic OpenMedia is made by <%= link_to "iPublic.org", "http://www.ipublic.org/" %>, founded by experienced open data folks.</p>
			</div>
       <div class="five columns">
         <h6><strong>OpenMedia site for your community?</strong></h6>
				Interested in starting an OpenMedia site for your community?
			</div>
       <div class="three columns">
         <h6><strong>Need help?</strong></h6>
         Licensed under <%= link_to "GPL", "http://www.gnu.org/licenses/gpl.html" %>
         and
				<%= link_to "MIT", "http://www.opensource.org/licenses/mit-license.php" %>
			</div>
		</footer>
	</body>
</html>
