<!DOCTYPE html>
<html>
	<head>
	  <%= render :partial => 'layouts/assets' %>
	  <title><%= current_site.label || 'Civic OpenMedia Public' %></title>
	</head>
	<body>
		<div id="wrapper">
			<div class="container header">
				<%= render :partial => 'layouts/header_sites_public' %>
			</div>
			
			<div class="row">
				<div class="four columns">
					<ul>
					  <li><%= render :partial => 'shared/navigation' %>
					  <li><%= link_to 'OpenMedia Community', root_path %><br/>
					  <li><%= link_to 'Site Admin', admin_home_index_path(authority) %>
					</ul>
				</div>
			</div>

			<div class="container content">
				<div class="row">
					<div class="twelve columns">
						<%= yield %>
					</div>
				</div>
			</div>
		
			<footer class="row">
				<%= render :partial => 'layouts/footer_public' %>
			</footer>
		</div>
	</body>
</html>
